# BEGIN LSCACHE
# END LSCACHE
# BEGIN NON_LSCACHE
# END NON_LSCACHE

# Disable redirects with trailing slashes when URLs match the directory paths
# DirectorySlash Off




<IfModule mod_rewrite.c>

RewriteEngine On

# If the content assets is not present locally, fetch it from "the remote server"
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^/?(content/.*) server/forward-to-remote-server.php [NC,QSA,L]

# If the request is for a purely backend / server route, forward them to the `server` directory
RewriteRule ^/?(api/.*) server/$1.php [NC,QSA,L]

# Correct REST API requests (since WordPress is accessible through a nested URL)
RewriteRule ^/?wp\-json(/.*)$ "/cms/?rest_route=$1" [NC,QSA,L]


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [NC,QSA,L]

</IfModule>


# BEGIN WP Cloudflare Super Page Cache
# The directives (lines) between "BEGIN WP Cloudflare Super Page Cache" and "END WP Cloudflare Super Page Cache" are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
<IfModule mod_rewrite.c>
RewriteCond %{REQUEST_URI} ^(.*)?/cms/wp-content/wp-cloudflare-super-page-cache/whitegold.money/debug.log(.*)$
RewriteRule ^(.*)$ - [F]
</IfModule>
<FilesMatch "wp-cron.php">
<IfModule mod_headers.c>
Header set Cache-Control "no-cache, no-store, must-revalidate, max-age=0"
</IfModule>
</FilesMatch>
# END WP Cloudflare Super Page Cache
# BEGIN WordPress
# The directives (lines) between "BEGIN WordPress" and "END WordPress" are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress